{%extends "base.html"%}
{% block titolo %}Aggiungi compiti{% endblock %}
{%load static%}
{% block contenuto %}
  {%include 'navbarSopra.html'%}
  {%include 'navbarSinistra.html'%}
  <div id="layoutSidenav_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card card-scuro shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Aggiungi compito</h3>
              </div>
              <div class="card-body">
                <form>
                {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="small mb-1" for="slcMateria">Materia</label>
                        <select class="py-4" id="slcMateria">
                        {% for materia in elencoMaterie %}
                          <option>{{materia}}</option>
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="small mb-1" for="txtData">Data</label>
                        <input class="form-control py-4" id="txtData" type="text" placeholder="Data" value="{{data}}"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="txtCompito">Inserisci il compito</label>
                    <textarea class="form-control" id="txtCompito" rows="20"></textarea>
                  </div>
                  <div class="form-group mt-4 mb-0">
                    <button class="btn btn-primary btn-block" type="button" id="btnAggiungiCompito">Aggiungi compito</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script>
    $("#btnAggiungiCompito").click(function() {
      const materia=$("#slcMateria").val();
      const data=$("#txtData").val();
      const compito=$("#txtCompito").val().replace(/\n/g,"*0*")+"*0";
      if(compito==""||data=="")
        alert("Devi compilare tutti i campi")
      else {
        let url="/database/aggiungiCompito/";
        $.ajax({
          type: 'POST',
          url: url,
          data: {
            materia,
            compito,
            data,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
          },
          success: ()=>window.open("/","_self"),
          //success:()=>location.reload(),
          error: ()=>{}
        });
      }
    });
  </script>
{%endblock contenuto%}