{%extends "base.html"%}
{% block titolo %}Rimuovi voto{% endblock %}
{%load static%}
{% block contenuto %}
  {%include 'navbarSopra.html'%}
  {%include 'navbarSinistra.html'%}
  <div id="layoutSidenav_content">
    <main>
    {% csrf_token %}
      <div class="container-fluid">
        <h1 class="mt-4">Rimuovi voto</h1>
        <div class="card card-scuro mb-4">
          <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Elenco voti
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Materia</th>
                    <th>Data di scadenza</th>
                    <th>Compito</th>
                    <th>Elimina</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Materia</th>
                    <th>Data di scadenza</th>
                    <th>Compito</th>
                    <th>Elimina</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for compito in righe %}
                  <tr>
                    <td>{{compito.0}}</td>
                    <td>{{compito.1}}</td>
                    <td>
                        <ul>
                      {% for voce in compito.2 %}
                      {% ifequal forloop.counter0|divisibleby:"2" True%}
                          <li>{{voce}}</li>
                      {% endifequal %}
                      {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <button class="btn btn-danger" onclick="elimina({{compito.3}})">Elimina</button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script>
    function elimina(id) {
      const sicuro=window.confirm("Sei sicuro di eliminare il compito?");
      if(sicuro){
        let url="/database/rimuoviCompito/";
        $.ajax({
          type: 'POST',
          url: url,
          data: {
            id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
          },
          success: ()=>window.open("/","_self"),
          //success:()=>location.reload(),
          error: ()=>{}
        });
      }
    }
  </script>
  {%endblock contenuto%}