<!DOCTYPE html>
<html lang="it">
{%load static%}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>{%block titolo%}{%endblock titolo%}</title>
  <link href="{%static 'styles.css'%}" rel="stylesheet" />
  <link href="{%static 'temaScuro.css'%}" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
    crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  {% block contenuto %}
  
  {%endblock contenuto%}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="{%static 'scripts.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  {% if indice == True %}
  <script src="{%static 'mediaVotiMateria.js'%}"></script>
  <script src="{%static 'mediaMaterie.js'%}"></script>
  {% endif %}
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  <script src="{%static 'datatables.js'%}"></script>
</body>