<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                <a class="nav-link" href="/">Menu</a>
                <div class="sb-sidenav-menu-heading" style="color:#ffffff">Voti</div>
                <a class="nav-link" href="/aggiungiVoto/">Aggiungi</a>
                <a class="nav-link" href="/modificaVoto/">Modifica</a>
                <a class="nav-link" href="/rimuoviVoto/">Rimuovi</a>
                <a class="nav-link" href="/">Menu</a>
                <div class="sb-sidenav-menu-heading" style="color:#ffffff">Compiti</div>
                <a class="nav-link" href="/aggiungiCompito/">Aggiungi</a>
                <a class="nav-link" href="/compitiDaFare/">Da fare</a>
                <a class="nav-link" href="/rimuoviCompito/">Rimuovi</a>
              </div>
          </div>
      </nav>
  </div>